@media screen and (max-width: 1800px) {
  .notes__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1480px) {
  .notes__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1160px) {
  .notes__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 835px) {
  .notes__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
